<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :artigo %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :título %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :author_id %>
  </div>

  <div class="field">
    <%= form.label :imagem %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :referência %>
    <%= form.text_area :reference %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
