<p id="notice"><%= notice %></p>

<h1>Artigos</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Artigo</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Imagem</th>
      <th>Data</th>
      <th>Referência</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.category %></td>
        <td><%= article.content %></td>
        <td><%= article.title %></td>
        <td><%= article.author_id %></td>
        <td><%= article.image %></td>
        <td><%= article.date %></td>
        <td><%= article.reference %></td>
        <td><%= link_to 'Mostrar', article %></td>
        <td><%= link_to 'Editar', edit_article_path(article) %></td>
        <td><%= link_to 'Excluir', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Artigo', new_article_path %>
