<p id="notice"><%= notice %></p>

<h1>Autores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Profissão</th>
      <th>Biografia</th>
      <th>Contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.job %></td>
        <td><%= author.bio %></td>
        <td><%= author.contact %></td>
        <td><%= link_to 'Mostrar', author %></td>
        <td><%= link_to 'Editar', edit_author_path(author) %></td>
        <td><%= link_to 'Excluir', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Autor', new_author_path %>
